.main{
    display: flex;
    justify-content: space-around;
    /* padding-top: 5%; */
}.box{
    height: 500px;
    
    background-color: aqua;
    border-radius: 15px;

}
.Search_Div{
    padding:10%;
}
.Search_Input{
    padding: 4%;
    width: 80%;
    border-radius: 15px;
    font-size: 22px;
}
.Weather_Div{
    margin-top: 5%;
}